.sidebar-stack {
  display: flex;
  padding: 40px 24px;
  flex-direction: column;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.header-wrap {
  display: flex;
  max-width: 591px;
  flex-direction: column;
  grid-column-gap: 12px;
  grid-row-gap: 8px;
}

.header-wrap.hide {
  display: none;
}

.hide {
  display: none;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.text-xl-bold {
  font-size: 22px;
  line-height: 1.1;
  font-weight: 600;
}

.text-align-center {
  text-align: center;
}

.text-md {
  font-family: 'DM Sans';
  color: var(--grey800-e42b2e06);
  font-size: 14px;
  line-height: 1.4285714285714286;
  letter-spacing: 0.4px;
}

.text-color-grey {
  color: var(--textLightGrey-914158a7);
}

.text-md.text-color-grey.more-grey {
  color: var(--grey600-d5bebe21);
}

.text-color-dark-grey {
  color: var(--textDarkGrey-65de823a);
}

.text-md.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.stack-column {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.stack-column.padding-horizontal {
  padding-right: 14px;
  padding-left: 14px;
}

.stack-column.hide {
  display: none;
}

#w-node-f53e763a-e46a-ce25-ff05-c2147c1f50bd-7c1f50bd {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}