.dashboard-right-wrapper-2 {
  padding: 100px 20px 20px;
}

@media screen and (max-width: 991px) {
  .dashboard-right-wrapper-2 {
    position: static;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 27px;
  }
}

.dashboard-subhead-wrapper {
  display: flex;
  margin-bottom: 12px;
  padding-right: 40px;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.dashboard-heading-lead-2 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
  font-weight: 500;
}

.all-recommend-job-card {
  display: flex;
  margin-top: 24px;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
}

#w-node-d86d1ee0-324b-8c0d-4002-8e2fce8b4d6b-ce8b4d6b {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}