.navbar-login {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  padding: 18px 40px;

  background-color: transparent;
}

.nav-containers {
  display: flex;
  width: 100%;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .nav-containers {
    margin-left: 20px;
  }
}

.sign-slots {
  text-decoration: none;
}

.text-md-bold {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: -0.15px;
}

.text-md-bold.color-red-500 {
  color: hsla(354.93506493506493, 66.96%, 54.90%, 1.00);
}

.text-md-bold.color-black {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.text-md-bold.color-grey-600 {
  text-decoration: none;
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}