.make-resume-suggestion-wrap {
  position: relative;

  padding: 24px;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  border: 1px solid var(--grey200-9ba653f1);
  border-radius: 8px;

  background-color: white;
}

.make-resume-suggestion-content {
  display: flex;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: white;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.flex-row.align-top {
  align-items: flex-start;
}

.text-lg-bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.45px;
}

.text-lg-bold.align-lext {
  align-self: center;
}

.text-grey-600 {
  color: hsla(208.57142857142856, 9.17%, 44.90%, 1.00);
}

.text-align-center {
  text-align: center;
}

.text-lg-bold.weight-500 {
  font-size: 16px;
  font-weight: 500;
}

.button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 100px;

  background-color: var(--black-0fdbd865);

  transition: all 300ms ease;

  color: var(--white-80449ce7);
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;

  cursor: pointer;
}

.button:hover {
  background-color: hsla(0, 0.00%, 0.00%, 0.80);
}

.button.is-kale {
  border: 1.5px solid transparent;
  border-radius: 4px;
  background-color: var(--kale600-c60cbc05);
  color: var(--white-80449ce7);
}

.button.is-kale:hover {
  border-color: var(--black-0fdbd865);
}

.button.is-green {
  flex: 0 0 auto;

  border: 1px solid var(--green500-287ff474);
  border-radius: 4px;

  background-color: var(--green600-40a2ee5f);

  color: var(--white-80449ce7);

  cursor: pointer;
}

.button.is-green:hover {
  background-color: var(--green500-287ff474);
}

.button.is-green.loading-button {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;

  border-style: solid;
  border-color: var(--grey400-863ed4b5);

  background-color: var(--grey400-863ed4b5);
}

.button.is-green.view-button {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  display: flex;
}

.button.is-green.margin-10--10 {
  margin-top: 16px;
}

.button.is-blue {
  border-radius: 4px;
  background-color: var(--blue600-aad8d97e);
}

.button.is-blue.rewrite {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  width: 100%;

  border-radius: 4px;
}

.button.is-blue.height-100 {
  height: 100%;
}

.height-100 {
  height: 100%;
}

.button.is-light-green {
  background-color: var(--green200-3c062f81);
  color: var(--grey600-d5bebe21);
}

.button.is-light-green.is-small {
  padding: 6px 12px;
}

.button.is-light-green.activbe-btn {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  padding: 6px 12px;
}

.button.disabled {
  background-color: var(--grey200-9ba653f1);
  opacity: 0.6;
  color: var(--grey600-d5bebe21);
}

.button.draft-now {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
}

.button.view-in-tracker {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 130px;
  height: 30px;
  padding: 0px;

  border: 1.5px solid transparent;
  border-radius: 4px;

  background-color: var(--kale600-c60cbc05);

  color: var(--white-80449ce7);
  font-size: 12px;
  line-height: 1;
}

.button.view-in-tracker:hover {
  border-color: var(--kale500-ffd3d2f8);
}

.icon-small {
  width: 16px;
  height: 16px;
}

.resume-listing {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.buttons-wrap {
  position: absolute;
  display: flex;
  align-items: flex-start;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.buttons-wrap.make-resume-cta-button {
  position: static;
  align-items: stretch;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.buttons-wrap.z-indexfoinal {
  z-index: 4;
  transform: translate(-4px, 0px);
}

.button-apply-niw {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 4px;

  background-color: var(--black-0fdbd865);

  transition: all 300ms ease;

  color: var(--white-80449ce7);
  line-height: 1;
  font-weight: 500;
  text-decoration: none;

  cursor: pointer;
}

.button-apply-niw:hover {
  background-color: hsla(0, 0.00%, 0.00%, 0.80);
}

.button-apply-niw.is-kale {
  border: 1.5px solid transparent;
  border-radius: 4px;
  background-color: var(--kale600-c60cbc05);
  color: var(--white-80449ce7);
}

.button-apply-niw.is-kale:hover {
  border-color: var(--black-0fdbd865);
}

.button-apply-niw.is-green {
  flex: 0 0 auto;

  border: 1px solid var(--green500-287ff474);
  border-radius: 4px;

  background-color: var(--green600-40a2ee5f);

  color: var(--white-80449ce7);

  cursor: pointer;
}

.button-apply-niw.is-green:hover {
  background-color: var(--green500-287ff474);
}

.button-apply-niw.is-green.loading-button {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;

  border-style: solid;
  border-color: var(--grey400-863ed4b5);

  background-color: var(--grey400-863ed4b5);
}

.button-apply-niw.is-green.view-button {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  display: flex;
}

.button-apply-niw.is-blue {
  border-radius: 4px;
  background-color: var(--blue600-aad8d97e);
}

.button-apply-niw.is-blue.rewrite {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  width: 100%;

  border-radius: 4px;
}

.button-apply-niw.is-blue.height-100 {
  height: 100%;
}

.button-apply-niw.is-light-green {
  background-color: var(--green200-3c062f81);
  color: var(--grey600-d5bebe21);
}

.button-apply-niw.is-light-green.is-small {
  padding: 6px 12px;
}

.button-apply-niw.is-light-green.activbe-btn {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  padding: 6px 12px;
}

.button-apply-niw.disabled {
  background-color: var(--grey200-9ba653f1);
  opacity: 0.6;
  color: var(--grey600-d5bebe21);
}

.button-apply-niw.draft-now {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
}

.button-apply-niw.view-in-tracker {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 130px;
  height: 30px;
  padding: 0px;

  border: 1.5px solid transparent;
  border-radius: 4px;

  background-color: var(--kale600-c60cbc05);

  color: var(--white-80449ce7);
  font-size: 12px;
  line-height: 1;
}

.button-apply-niw.view-in-tracker:hover {
  border-color: var(--kale500-ffd3d2f8);
}

.embed-flex {
  display: flex;
}

.embed-flex.ontop {
  position: relative;
  z-index: 2;
  margin-top: 2px;
}

.embed-flex.ontop.disabledo {
  opacity: 0.76;
}

.embed-flex.align-top {
  margin-top: 4px;
}

.button-outlined {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  grid-column-gap: 4px;
  grid-row-gap: 4px;

  border: 1px solid var(--borderGrey-ea561a79);
  border-radius: 4px;

  background-color: var(--white-80449ce7);

  transition: all 300ms ease;

  color: var(--black-0fdbd865);
  line-height: 1;
  font-weight: 500;
  text-decoration: none;

  cursor: pointer;
}

.button-outlined:hover {
  border-color: var(--black-0fdbd865);
  background-color: var(--white-80449ce7);
  color: var(--black-0fdbd865);
}

.button-outlined.samll-button {
  width: 130px;
  height: 30px;
  padding: 4px 10px;
  font-size: 12px;
}

.do-later-content-wrap {
  display: flex;
  flex-direction: column;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.back-button {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;

  color: hsla(206.66666666666666, 16.07%, 21.96%, 1.00);
  text-decoration: none;

  cursor: pointer;
}

.back-button.marfin-bottom-40 {
  margin-bottom: 20px;
}

.back-button.mrgin-bottom-19 {
  margin-bottom: 10px;
  cursor: pointer;
}

.text-md {
  font-family: 'DM Sans';
  color: var(--grey800-e42b2e06);
  font-size: 14px;
  line-height: 1.4285714285714286;
  letter-spacing: 0.4px;
}

.text-color-grey {
  color: var(--textLightGrey-914158a7);
}

.text-md.text-color-grey.more-grey {
  color: var(--grey600-d5bebe21);
}

.text-color-dark-grey {
  color: var(--textDarkGrey-65de823a);
}

.text-md.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.date-slot.resume {
  display: flex;
  align-items: stretch;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.resume {
  position: relative;

  overflow: hidden;
  width: 180px;
  min-width: 180px;
  padding: 0px;

  border: 1px solid var(--grey200-9ba653f1);
  border-radius: 8px;

  background-color: white;

  cursor: pointer;
}

.date-slot.resume.coverlotter {
  width: 100%;
}

.date-slot.resume.coverlotter-copy {
  width: 100%;
  border-style: none;
  background-color: transparent;
}

.reume-loading {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;

  background-color: white;
}