.notification-warning {
  position: relative;

  max-width: 680px;
  padding: 20px 40px;

  border: 1px solid var(--yellow300-a4b464fd);
  border-radius: 4px;

  background-color: var(--yellow100-51d667b3);
}

.notification-header-wrapper {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.icon-warning {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--yellow700-b1438949);
}

.notification-header-warning {
  color: var(--yellow800-b1e3bc9b);
  font-weight: 600;
}

.notification-para-warning {
  color: var(--yellow700-b1438949);
  font-weight: 400;
}

.close-icon-warning {
  position: absolute;
  left: auto;
  top: 13px;
  right: 10px;
  bottom: auto;

  display: flex;

  color: var(--yellow700-b1438949);
}