.notification-info {
  position: relative;

  max-width: 680px;
  padding: 20px 40px;

  border: 1px solid var(--grey300-03a46dba);
  border-radius: 4px;

  background-color: var(--gray100-3a86b552);
}

.notification-header-wrapper {
  display: flex;
  align-items: center;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.icon-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--grey700-7fbe857b);
}

.notification-header-info {
  color: var(--grey800-e42b2e06);
  font-weight: 600;
}

.notification-para-info {
  color: var(--grey700-7fbe857b);
  font-weight: 400;
}

.close-icon-info {
  position: absolute;
  left: auto;
  top: 13px;
  right: 10px;
  bottom: auto;

  display: flex;

  color: var(--grey700-7fbe857b);
}