._50--layout {
  position: relative;

  display: flex;
  width: 100vw;
  min-height: 100vh;
  padding-right: 40px;
  padding-left: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-1280 {
  position: relative;
  z-index: 2;

  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
}

.container-1280.vertical {
  flex-direction: column;
  align-items: flex-start;
}

.container-1280.flex-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-1280.no-min-height {
  min-height: auto;
}

.slots {
  position: relative;
  z-index: 3;
  display: flex;
  width: 100%;
  padding-top: 60px;
}

.slot-50--left {
  width: 50%;
}

.slot-50--right {
  width: 50%;
}

.bg-half-grey {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  display: flex;
}

._50--white {
  width: 50%;
  height: 100%;
  background-color: var(--white-80449ce7);
}

._50--grey {
  width: 50%;
  height: 100%;
  background-color: var(--gray100-3a86b552);
}