.disabled-text {
  display: flex;
  width: 100%;
  max-width: 336px;
  padding: 4px 10px;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.disabled-icon {
  display: flex;
  padding-top: 4px;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.vectors-wrapper {
  display: flex;
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  object-fit: cover;
}

.medium-default-4 {
  color: rgba(135, 146, 157, 1);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.15399999916553497px;
}

.medium-default-4.width-90 {
  width: 90%;
}