.recommend-job-card {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.job-card-tag-wrapper {
  display: flex;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.job-card-tag-text {
  color: var(--grey500-0d508ad8);
}

.job-card-tag-text.semi-bold {
  font-weight: 500;
}