.login-form-block {
  margin-top: 24px;
  margin-bottom: 0px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-row-gap: 10px;
}

.text-field {
  margin-bottom: 0px;
  padding: 10px 12px;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(199.9999999999999, 8.33%, 85.88%, 1.00);
  border-radius: 4px;
}

.text-field:focus {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
  background-color: transparent;
}

.text-field::placeholder {
  color: hsla(204.00000000000003, 8.93%, 78.04%, 1.00);
}

.input-wrapper {
  position: relative;
  align-self: stretch;
}

.login-form-btn-wrapper {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .login-form-btn-wrapper {
    flex-direction: column;
    align-items: stretch;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

.checkbox-field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox {
  width: 15px;
  height: 15px;
  margin-top: 0px;
  margin-right: 10px;
}

.checkbox:global(.w--redirected-checked) {
  padding: 4px;
  border-style: none;
  background-color: hsla(206.95652173913044, 57.50%, 47.06%, 1.00);
  background-size: auto;
}

.checkbox:global(.w--redirected-focus) {
  box-shadow: none;
}

.checkbox-label {
  font-size: 14px;
  line-height: 20px;
}

.color-grey-600 {
  color: var(--grey600-d5bebe21);
}

.submit-btn {
  display: flex;
  padding: 15px 24px;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 50px;

  background-color: hsla(158.09523809523807, 95.45%, 25.88%, 1.00);

  color: hsla(206.66666666666666, 0.00%, 100.00%, 1.00);
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .submit-btn {
    justify-content: center;
  }
}

.submit-btn.hide {
  display: none;
}

.hide {
  display: none;
}

@media screen and (max-width: 479px) {
  .hide {
    display: none;
  }
}

.sign-in-btn {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: hsla(206.8421052631579, 71.03%, 41.96%, 1.00);
  font-size: 12px;
  line-height: 16px;
}