.saveto-wisthlistblock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.save-wishlist-wrap {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.button-relative-block {
  position: relative;
}

.button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-radius: 100px;

  background-color: var(--black-0fdbd865);

  transition: all 300ms ease;

  color: var(--white-80449ce7);
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;

  cursor: pointer;
}

.button:hover {
  background-color: hsla(0, 0.00%, 0.00%, 0.80);
}

.button.is-kale {
  border: 1.5px solid transparent;
  border-radius: 4px;
  background-color: var(--kale600-c60cbc05);
  color: var(--white-80449ce7);
}

.button.is-kale:hover {
  border-color: var(--black-0fdbd865);
}

.button.is-green {
  flex: 0 0 auto;

  border: 1px solid var(--green500-287ff474);
  border-radius: 4px;

  background-color: var(--green600-40a2ee5f);

  color: var(--white-80449ce7);

  cursor: pointer;
}

.button.is-green:hover {
  background-color: var(--green500-287ff474);
}

.button.is-green.loading-button {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;

  border-style: solid;
  border-color: var(--grey400-863ed4b5);

  background-color: var(--grey400-863ed4b5);
}

.button.is-green.view-button {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  display: flex;
}

.button.is-green.margin-10--10 {
  margin-top: 16px;
}

.button.is-blue {
  border-radius: 4px;
  background-color: var(--blue600-aad8d97e);
}

.button.is-blue.rewrite {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  width: 100%;

  border-radius: 4px;
}

.button.is-blue.height-100 {
  height: 100%;
}

.height-100 {
  height: 100%;
}

.button.is-light-green {
  background-color: var(--green200-3c062f81);
  color: var(--grey600-d5bebe21);
}

.button.is-light-green.is-small {
  padding: 6px 12px;
}

.button.is-light-green.activbe-btn {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  padding: 6px 12px;
}

.button.disabled {
  background-color: var(--grey200-9ba653f1);
  opacity: 0.6;
  color: var(--grey600-d5bebe21);
}

.button.draft-now {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
}

.button.view-in-tracker {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 130px;
  height: 30px;
  padding: 0px;

  border: 1.5px solid transparent;
  border-radius: 4px;

  background-color: var(--kale600-c60cbc05);

  color: var(--white-80449ce7);
  font-size: 12px;
  line-height: 1;
}

.button.view-in-tracker:hover {
  border-color: var(--kale500-ffd3d2f8);
}

.icon-embed {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.embed-flex {
  display: flex;
}

.embed-flex.ontop {
  position: relative;
  z-index: 2;
  margin-top: 2px;
}

.embed-flex.ontop.disabledo {
  opacity: 0.76;
}

.embed-flex.align-top {
  margin-top: 4px;
}

.text-relative {
  position: relative;
}

.save-to-wishlist-info-wrap {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  color: var(--grey800-e42b2e06);
  font-size: 12px;
  line-height: 1.3333333333333333;
}

.voew-inwhichlist {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  background-color: white;

  color: var(--green500-287ff474);
  font-size: 12px;
  line-height: 1.3333333333333333;
}

.loading-text-wrap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  background-color: white;

  color: var(--blue600-aad8d97e);
  font-size: 12px;
  line-height: 1.3333333333333333;
}